a {
    text-decoration: none;
}

.deck-main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.deck-container {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40vh;
    border: outset, rgb(225, 43, 225), 5px;
}

.deck-options {
    display: flex;
    gap: 10px;
    width: 90%;
}

.deck-main button:hover {
    background-color: aliceblue;
}

.deck-options button {
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.practice-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.practice-deck {
    background-color: aquamarine;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 10vh;
    width: 90%;
}

.delete-deck {
    background-color: red;
}

.view-cards {
    background-color: greenyellow;
}