.nextbutton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
}

.flashcard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}